// Color Themes
$primary:           #5671FA;
$accent:            #2affd8;
$white:             #FFFFFF;

$text-primary:      #8388A5;
$text-secondary:    #484c63;

$error:             #ef6161;
$success:           #5ccc66;

$background:        #F8FAFD;
$background-dark:   #F0F6FA;

$input-background:  #EEF4F8;

$label1: 			#ffb52e;
$label2: 			#50e0a2;
$label3: 			#50dce0;
$label4: 			#f95bd9;
$label5: 			#f95b5b;
$label6: 			#FFFFFF;
